@import "tailwindcss";

@theme {
  --color-primary: #0ca678;
  /* https://www.tints.dev/palette/v1:cHJpbWFyeXwwY2E2Nzh8NDAwfHB8MHwwfDB8MTAwfGE */
  --color-primary-50: oklch(0.948 0.078 164.24);
  --color-primary-100: oklch(0.893 0.173 164.49);
  --color-primary-200: oklch(0.807 0.168 164.71);
  --color-primary-300: oklch(0.722 0.150 164.76);
  --color-primary-400: oklch(0.643 0.134 164.69); /* base */
  --color-primary-500: oklch(0.556 0.116 164.30);
  --color-primary-600: oklch(0.471 0.098 164.81);
  --color-primary-700: oklch(0.386 0.080 164.91);
  --color-primary-800: oklch(0.302 0.063 164.61);
  --color-primary-900: oklch(0.220 0.046 164.99);
  --color-primary-950: oklch(0.173 0.037 164.84);

  --btn-padding-x: 1rem;
  --btn-padding-y: 0.5625rem; /* 9 / 16 */
  --btn-font-size: 0.875rem;
  --btn-line-height: 1.0rem;
  --btn-border-width: 1px;
}

@layer base {
  dialog {
    @apply 
    m-auto
    shadow-lg;
  }
}

@layer components {
  .turbo-progress-bar {
	  @apply
        bg-primary!;
    }

  .btn {
      @apply
        inline-flex
        items-center
        justify-center
        rounded-sm
        text-stone-700
        text-sm/1
        font-medium
        px-3
        py-1.5
        border
        border-stone-300
        hover:border-stone-500
        cursor-pointer
        shadow-sm
        active:shadow-none
        focus-visible:outline-2 focus-visible:outline-offset-2
        disabled:bg-gray-400
        select-none
        w-full sm:w-auto;
      min-width: calc(var(--btn-line-height) * 2 + var(--btn-padding-y) * 2 + var(--btn-border-width) * 2);
      min-height: calc(var(--btn-line-height) * 1 + var(--btn-padding-y) * 2 + var(--btn-border-width) * 2);
      transition: color .15s ease-in-out, background-color .25s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .btn-primary {
      @apply bg-primary-400 text-white
      hover:bg-primary-500
      active:bg-primary-600
      focus-visible:outline-primary-400
    }

    .btn-danger {
      @apply bg-red-700 text-white
      hover:bg-red-800
      active:bg-red-900
      focus-visible:outline-red-700
    }
}
